:root {
  --red:#c8102e;
  --navy:#041e42;
  --orange: #f13200;
  --white: #ffffff;
  --brown: #311d00;
  --light-brown: #845d32;
  --grey: #f2f2f2;
  --gray: #c7c7c7;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1,
h2,
h3{
    font-family: "Snicker", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin: 0;
}
h1{
    font-size: calc(48px + 0.390625vw);
    color: var(--white);
}
h2{
    font-size: calc(40px + 0.390625vw);
    color: var(--navy);
}
ul.no-style{
    padding: 0px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
ul.no-style li{
    list-style: none;
}
ul.no-style a{
    color: var(--white);
    text-decoration: none;
}
.med-heading{
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(28px + 0.390625vw);
    text-transform: uppercase;
}
.small-heading{
    font-family: "Proxima-Nova", sans-serif;
    font-size: calc(18px + 0.390625vw);
    text-transform: uppercase;
    color: var(--orange);
    line-height: 1em;
}
p,
span,
th,
td,
a,
button,
summary{
    font-size: calc(14px + 0.390625vw);
    font-family: "proxima-nova", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    margin: 8px 0;
}
.material-symbols-rounded{
    font-size: inherit;
}
img{
    max-width: 100%;
}
.red-bg{
 background-image: url(https://media.d3.nhle.com/image/private/t_document/prd/bc94hdmfeifuobzpw39x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}
.gray-bg{
    background-color: var(--gray);
}
.navy-bg{
    background-color: var(--navy);
}
.brown-bg h2{
    color: var(--white);
}

.navy-bg h2{
    color: var(--white);
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.site-padding{
    padding: 20px 16px;
}

.container-margin{
    margin: 5.6rem 0;
}
a.button {
    background-color: var(--red);
    padding: 12px 45px;
    border-radius: 50px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: "snicker", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-transform: uppercase;
    transition: .2s;
}
a.button:hover{
    background-color: #041e42;
}
a.button-navy {
    background-color: var(--navy);
    padding: 12px 45px;
    border-radius: 50px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: "snicker", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-transform: uppercase;
    transition: .2s;
    margin: 0;
}
a.button-brown:hover{
    background-color: rgb(39, 23, 0)
}
a.button-white {
    background-color: var(--white);
    color: var(--brown);
    padding: 12px 45px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: "snicker", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-transform: uppercase;
    transition: .2s;
}
a.button-white:hover{
    background-color: rgb(241, 241, 241);
}
.center-text{
    text-align: center;
    max-width: 700px;
    width: 100%;
}
.line-btn {
        color: var(--red) !important;
    }
/* Containers */
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: column;
}
.flex-center{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.section{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.two-column-container{
    max-width: 1250px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.responsive-two-columns{
    width:100%;
}
.two-column-gap{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
}
.three-column-container{
    max-width: 1250px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
.responsive-four-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 1250px;
}
.responsive-three-columns {
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    max-width: 1250px;
}
.responsive-three-columns > * {
    width:100%;
}
/* Hero Section Styling*/
.hero-bg{
    min-height: 100vh;
    width: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
      z-index: -1;
    }
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  opacity:100%;
}
.hero-bg .section{
    max-width: 1250px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
}
.hero-text {
    position: absolute;
    z-index: 1;
    padding: 0 5%;
    align-items: center;
    text-align:center;
    gap: 12px;
}

.hero-text h1 {
  font-size:calc(2rem + 2vw);
}
.hero-text img{
    max-width: 25%;
}
/* about */
.about{
    position: relative;
}
/* Memberships Section Styling */
.memberships .section{
    background-image: url(https://media.d3.nhle.com/image/private/t_document/prd/zqbljwktxwmk2lmcqtrm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.price.two-column-container{
    align-items: stretch;
}
.price-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    padding: 25px;
    gap: 10px;
    border: 2px solid;
    box-shadow: var(--box-shadow);
}
.price {
  text-align:left;
    font-family: "snicker", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  padding-top:10px;
    line-height: 0;
    max-width: 1100px;
}
.price-box .small-heading{
  font-family:'proxima-nova', sans-serif;
    text-align: center;
    margin: 0%;
    color: var(--white);
}
.price-box ul li p::before{
    content: '\2713';
    padding-right: 12px;
    color: var(--red);
}
.price td ul li {
display:flex;
}
.price td ul li::before{
    content: '\2605';
    padding-right: 20px;
    color: var(--red);
}

.price-3 ul li p::before{
    color: var(--navy);
}
.price-1{
    background: var(--white);
    border-color: var(--red);
}
.price-2{
    background: var(--navy);
    color: var(--white);
    border-color: var(--red);
}

.price-3{
    background: var(--red);
    color: var(--white);
    border-color: var(--navy);
}
.price-1 .small-heading{
    color: var(--red);
}
.price-box ul{
    list-style: none;
    padding: 0;
    margin: 0%;
}
.price-box li{
    display: flex;
    gap: 4px;
  flex-direction:column;
}

.kit li{
margin-left:30px;
}

.kit li p::before{
    content: '\2605'!important;
}

.price-premium{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
  padding-top:5px;
}
.price-premium span{
    font-size: 12px;
    margin: 0;
    line-height: 16px;
    width: 50%;
}
/* Event Tabs Styling */
/* Style the tab */
.tab {
  overflow: hidden;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin: 0;
  border-bottom: 1px solid var(--navy);
  color: var(--navy);
}
/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 1px solid var(--red);
  color: var(--red);
}
/* Style the tab content */
.tabcontent {
  display: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.responsive-three-column.last-order {
    order: 2;
}
/* Points */
#points{
    position: relative;
    padding: 40px 16px 40px 16px;
  color:#fff;
}
/* Events */
#events{
    position: relative;
    gap: 20px;
}
.event-container{
    margin-bottom: 5vw;
}
.event-box{
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
}
.event-text {
    padding: 12px 30px;
    text-align: center;
}
.event-title{
    font-weight: 700;
    font-size: calc(18px + 0.390625vw);
}
.event-date{
    margin-bottom: 8px;
    font-weight: 300;
    font-size: calc(12px + 0.390625vw);
}
.custom-shape-divider-bottom-1714751223 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714751223 svg {
    position: relative;
    display: block;
    width: calc(284% + 1.3px);
    height: 37px;
}

.custom-shape-divider-bottom-1714751223 .shape-fill {
    fill: #c8102e;
}
/* Why Join Premium Section Styling */
.upgrade{
    position: relative;
}
.upgrade .two-column-container{
    align-items: flex-start;
}
table td, table td * {
    vertical-align: top;
}
.table-ul{
    padding-left: 28px;
}
/* Table */
/* Style the table */
table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
  border-collapse: separate;
  overflow: hidden;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding: 12px;
  font-size:1.2rem;
}
th{
    background-color: var(--white);
}
th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: var(--white);
}
tr:nth-child(odd) {
  background-color: var(--grey);
}
tbody tr > :nth-child(3) {
    background-color: var(--navy);
    color: #fff;
    text-align: center;
}

tbody tr > :nth-child(4) {
    background-color: var(--red);
    color: #fff;
    text-align: center;
}

thead tr > :nth-child(3){
    background-color: var(--navy);
    color: var(--white);
}

thead tr > :nth-child(4){
    border-top-right-radius: 18px;
    background-color: var(--red);
    color: var(--white);
}
thead tr > :nth-child(1){
    border-top-left-radius: 18px;
}
tbody tr > :nth-child(3) i{
    color: #311d00;
}
tbody tr:last-child > :last-child, .panel-content--table > table tbody tr:last-child > :last-child {
    border-bottom-right-radius: 18px;
}
tbody tr:last-child > :first-child, .panel-content--table > table tbody tr:last-child > :first-child{
    border-bottom-left-radius: 18px;
}
/* Footer Section Styling */
footer{
    padding: 30px 16px;
}
footer.section{
    gap: 40px;
}
.partners{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
}
.partner-box {
    display: flex;
    align-items: center;
    row-gap: 0px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-box:first-child img{
    max-width: 300px;
}
.partners img{
    max-width: 135px;
}
.partners .small-heading{
    color: var(--white);
    text-align: center;
    font-size: 1rem;
}
.partners .flex-row-center{
    gap: 56px;
}
/* CTA */
.cta .two-column-container{
    padding: 2vw 5vw;
    border-radius: 12px;
}
.cta .two-column-container > div:last-child{
    text-align: center;
}
.cta img{
    max-width: 80%;
    margin-top: -70px;
}
/* Dog of the month */
.dotm .section{
    gap: 20px;
}
.dotm-date{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--orange);
}
.dotm hr{
    width: 50px;
    border-color: var(--navy);
    margin: 18px auto;
}
.dotm .med-heading {
    background: url(https://static.clubs.nfl.com/image/upload/v1710948139/browns/cv5ub2np8bhpiq7zc4sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 16px;
    color: white;
    transform: rotate(2deg);
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100vw;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
  padding: 30px 0;
}
.logos-slide .slide:nth-child(even){
    transform: rotate(-2deg);
}
.logos-slide .slide:nth-child(odd){
    transform: rotate(2deg);
}
.logos-slide .slide {
    display: inline-block;
    width: 250px;
    margin: 0 30px;
    background-color: var(--white);
    border-radius: 4px;
    padding: 16px;
    box-shadow: var(--box-shadow);
}
.slide p{
    text-align: center;
    line-height: 0;
    margin-top: 20px;
}

/* Navigation */
header {
    display: flex;
    justify-content: center;
}
nav{
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;    
    position: absolute;
    top: 0;
}
/*Styling logo*/
.logo img {
    width:25%;
}
.logo a{
    line-height: 0;
}

/*Styling Links*/
.nav-links{
    margin: 0;
    padding: 0;
    display: flex;
    gap: calc(30px - 1vw);
    list-style: none; 
    align-items: center;
    text-transform: uppercase;
  text-align:center;
    top: 0;
}

.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    font-size: 1.4em;
}
.nav-links li:nth-child(1) a,
.nav-links li:nth-child(2) a{
    color: var(--white);

}
.nav-links li {
    position: relative;
}
/* Styling icons */
.nav-links li span{
    margin: 0;
    font-size: inherit;
}
/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
    border-radius: 50px;
}
.hamburger{
    display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.scroll-container {
  height: 100vh;
}
/* FAQs */
.faqs {
    position: relative;
}
.faqs.section{
    gap: 20px;
}
.faq-container{
    max-width: 1000px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-radius: 20px;
    padding: 2rem 3rem;
}
.faq{
    border-bottom: 1px solid var(--grey);
    padding: 16px 0;
}
.faq-container div:last-child {
  border: 0;
}
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.accordion button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
    text-align: left;
}  
.active,
.accordion:hover {
    color: var(--red);
}
.accordion span::before{
    content: '\002B';
    margin-left: 5px;
    font-size: 1.4rem;
    font-family: "Snicker", sans-serif;
    font-weight: 00;
}
.active span::before {
    content: "\2212";
}
    
    .panel {
        background-color: var(--white);
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        max-height: 0;
      font-size:1.4rem;
    }
.panel p,
.panel a,
footer li a{
    font-weight: 300;
}
.faqs dd a{
    color: var(--red);
}
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-four-columns {
        grid-template-columns: repeat(4, 1fr);
    }
    .two-column-container{
        flex-wrap: nowrap;
        gap: 56px;
    }
    .responsive-two-columns{
        width:50%;
    }
    .three-column-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .justify-center{
        flex-direction: row;
    }
    .hero-text {
      text-align:center;
      position:absolute;
      max-width:1250px;
    }
    .responsive-three-column.last-order {
        order: 0;
    }
    .responsive-three-columns > * {
        width:100%;
    }
    .logos-slide .slide {
        width: 350px;
        padding: 20px;
    }
}
/*Stying for small screens*/
@media screen and (max-width: 800px){
    .two-column-flip{
        order: 1;
    }
    .cta{
        margin-top: 70px;
    }
    .cta .two-column-container{
        padding: 30px;
    }
    .cta img{
        max-width: 100%;
    }
    .cta .two-column-container > div:first-child{
        order: 1;
    }

  .hero-bg{
    min-height: 100vh;
}

  .hero-bg .section{
    margin-top: 50%;
    min-height:100vh;
}

  .hamburger div {
    display:block;
  }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        transform: translate(-5%, -50%);
        z-index: 3;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: var(--navy);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: all .5s ease-out;
        pointer-events: none;
        transform: translateX(100%);
      text-align:center;
        right: 0;
        z-index: 2;
    }
    .nav-links.open{
        transform: translateX(0);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
        padding-top: 100px;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
